/* Footer */

.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background: var(--grey-b-100);
  color: var(--b-text);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 2.5rem;
  grid-column: 2 / 12;
  margin: 4rem 0 2.5rem 0;
}

.footer-nav {
  display: flex;

  grid-row: 1;
  grid-column: 1 / 6;
  gap: 4rem;
}

.site-map,
.site-map-2,
.site-map-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.site-map ul,
.site-map-2 ul,
.site-map-3 ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.site-logo-social {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  color: var(--h-text);
  grid-column: 8 / 12;
  gap: 2rem;
  /* justify-self: center; */
}

.site-social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.site-social img {
  width: 1.5rem;
  height: 1.5rem;
}

.site-newsletter {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  grid-column: 8 / 12;
}

.site-cta {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  grid-column: 1 / 6;
  gap: 1rem;
}

.site-newsletter {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  grid-column: 8 / 12;
  gap: 1rem;
}

.footer-copy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  grid-row: 2;
  grid-column: 2 / 12;
  /* grid-column: 2 / 9; */
  padding: 3rem 0;
  border-top: 4px dotted #bab8b8;
}

.copy {
  display: flex;
  gap: 2.5rem;
  /* margin-right: 10rem; */
}

.site-map p {
  font-size: 1.125rem;
line-height: 1.5rem;
font-weight: 700;
}

.site-map ul a {
  color: var(--b-text);
  font-size: 1rem;
  line-height: 1.5rem;
}

.site-map ul a:hover {
  color: var(--p500);
}

.site-logo {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;

}

.site-cta h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 400;
}

.site-cta p {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.f-button {
  display: flex;
  align-self: flex-start;
  border-radius: 8px;
  background-color: var(--p500);
  border: none;
  outline: none;
}

.f-button a {
  color: var(--grey-b-50);
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: center;
  padding: 0.5rem 0.94rem;
}

.f-button:hover {
  background-color: var(--p300);
}

.site-newsletter h4 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.site-newsletter p {
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--grey-b-700);
}

.newsletter {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.newsletter input {
  color: var(--p800);
  background-color: var(--grey-200);
  border-radius: 8px;
  border: 1px solid var(--grey-b-200);
  padding: 0.5rem 1rem;
}

input::placeholder {
  color: var(--grey-300);
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

 input:focus {
  outline: none;
  border: 1px solid var(--p300);
  background: var(--p200);
  color: var(--p500); 
} 

.f-button-2 {
  border: none;
  border-radius: 8px;
}

.f-button-2 a {
  color: var(--p600);
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.13rem;
  padding: 0.5rem 1.25rem;
}

.f-button-2:hover {
  text-decoration: none;
  background-color: var(--p300);
}

.footer-copy {
  font-size: 0.75rem;
  line-height: 1rem;
}

.copy a {
  color: var(--b-text);
}

.copy a:hover {
  color: var(--p500);
}

@media (max-width: 640px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .footer-nav {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    flex-wrap: wrap;
  }
  .site-map {
    grid-column: 1 / 2;
  }
  .site-map-2 {
    grid-column: 2 / 3;
  }
  .site-map-3 {
    grid-column: 3 / 4;
  }
  .site-logo-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .site-cta {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }

  .site-newsletter {
    display: flex;
    flex-direction: column;
  }

  .newsletter {
    display: flex;
  }
}

