.progress-bar-bg {
  position: sticky;
  bottom: 0;
  height: 1rem;
  width: 100%;
  background-color: var(--p200);
}

#progress-bar {
  position: sticky;
  bottom: 0;
  --progress: 0;
  height: 1rem;
  width: var(--progress);
  background-color: var(--p500);
}

/* Back to Top Button */

#progress {
  /* background-color: var(--p500); */
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  height: 3rem;
  width: 3rem;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 1rem);
  width: calc(100% - 1rem);
  background-color: var(--grey-b-50);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  color: var(--p500);
}

#progress-value img {
  width: 1rem;
  height: 1rem;
}