/* Heading & Display */

.h-display-normal {
  font-family: "DM Sans", sans-serif;
  font-size: 4.5rem;
  line-height: 4rem;
  font-weight: 400;
}

.h-display-blod {
  font-family: "DM Sans", sans-serif;
  font-size: 4.5rem;
  line-height: 4rem;
  font-weight: 700;
}

.h1-normal {
  font-family: "DM Sans", sans-serif;
  font-size: 6rem;
  line-height: 5rem;
  font-weight: 400;
}

.h1-bold {
  font-family: "DM Sans", sans-serif;
  font-size: 6rem;
  line-height: 5rem;
  font-weight: 700;
}

.h2-normal {
  font-family: "DM Sans", sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 400;
}

.h2-bold {
  font-family: "DM Sans", sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.h3-normal {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5625rem;
  line-height: 2rem;
}

.h3-bold {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5625rem;
  line-height: 2rem;
  font-weight: 700;
}

/* Body */

.sub-p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.b-12-normal {
  font-family: "DM Sans", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
}

.b-12-bold {
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.b-14-normal {
  font-family: "DM Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
}

.b-14-bold {
  font-family: "DM Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 700;
}

.b-16-normal {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  /* line-height: 1.5rem; */
}

.b-16-bold {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.b-18-normal {
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.b-18-bold {
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
}

/* Others */

.blockquote {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5625rem;
  line-height: 2rem;
  font-style: italic;
}

.quote {
  font-family: "DM Sans", sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-style: italic;
}

/* 

.font-2-xs {
  font: 400 0.875rem/1.43 "Roboto", sans-serif;
}

@media (max-width: 1200px) {
}

@media (max-width: 800px) {
}

@media (max-width: 320px) {
}

*/
